<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="financeApiKey" value="e5fa04828c166e078d9950446e7b5f1e"/>
		<add key="SimpleTraderDB" value="Server = INSTANCE-202011\\SQLEXPRESS;DataBase = SimpleTraderDB;Trusted_Connection = true;"/>
	</appSettings>
</configuration>